[project]
	description = Ansible framework for setting up OpenStack test environments
[access "refs/*"]
	owner = group user/Brad P. Crochet (bcrochet)
	owner = group user/wes hayutin (weshayutin)
[access "refs/for/refs/*"]
	read = group user/Brad P. Crochet (bcrochet)
	read = group user/Gabriele Cerami (gabrielecerami)
	read = group user/Ronelle Landy (rlandy)
	read = group user/Steve Linabery (eggmaster)
	read = group user/sthaha (sthaha)
	read = group user/wes hayutin (weshayutin)
	push = group user/Brad P. Crochet (bcrochet)
	push = group user/Gabriele Cerami (gabrielecerami)
	push = group user/Ronelle Landy (rlandy)
	push = group user/Steve Linabery (eggmaster)
	push = group user/sthaha (sthaha)
	push = group user/wes hayutin (weshayutin)
	label-Code-Review = -2..+2 group user/Brad P. Crochet (bcrochet)
	label-Code-Review = -2..+2 group user/Gabriele Cerami (gabrielecerami)
	label-Code-Review = -2..+2 group user/Jiří Stránský (jistr)
	label-Code-Review = -2..+2 group user/Ronelle Landy (rlandy)
	label-Code-Review = -2..+2 group user/Steve Linabery (eggmaster)
	label-Code-Review = -2..+2 group user/sthaha (sthaha)
	label-Code-Review = -2..+2 group user/wes hayutin (weshayutin)
	label-Code-Review = -1..+1 group user/rdo-ci-hudson
	label-Code-Review = -1..+1 group user/rdo-ci-jenkins (rdo-ci-jenkins)
	label-Verified = -1..+1 group user/Brad P. Crochet (bcrochet)
	label-Verified = -1..+1 group user/Gabriele Cerami (gabrielecerami)
	label-Verified = -1..+1 group user/Ronelle Landy (rlandy)
	label-Verified = -1..+1 group user/Steve Linabery (eggmaster)
	label-Verified = -1..+1 group user/rdo-ci-hudson
	label-Verified = -1..+1 group user/rdo-ci-jenkins (rdo-ci-jenkins)
	label-Verified = -1..+1 group user/sthaha (sthaha)
	label-Verified = -1..+1 group user/wes hayutin (weshayutin)
	rebase = group user/Brad P. Crochet (bcrochet)
	removeReviewer = group user/Brad P. Crochet (bcrochet)
	submit = group user/Brad P. Crochet (bcrochet)
	submit = group user/Gabriele Cerami (gabrielecerami)
[access "refs/heads/*"]
	read = group user/Brad P. Crochet (bcrochet)
	create = group user/Brad P. Crochet (bcrochet)
	create = group user/wes hayutin (weshayutin)
	push = +force group user/Brad P. Crochet (bcrochet)
	pushMerge = group user/Brad P. Crochet (bcrochet)
	label-Code-Review = -2..+2 group user/Brad P. Crochet (bcrochet)
	label-Code-Review = -2..+2 group user/Gabriele Cerami (gabrielecerami)
	label-Code-Review = -2..+2 group user/Jiří Stránský (jistr)
	label-Code-Review = -2..+2 group user/Ronelle Landy (rlandy)
	label-Code-Review = -2..+2 group user/Steve Linabery (eggmaster)
	label-Code-Review = -2..+2 group user/sthaha (sthaha)
	label-Code-Review = -2..+2 group user/wes hayutin (weshayutin)
	label-Code-Review = -1..+1 group user/rdo-ci-hudson
	label-Code-Review = -1..+1 group user/rdo-ci-jenkins (rdo-ci-jenkins)
	label-Verified = -1..+1 group user/Brad P. Crochet (bcrochet)
	label-Verified = -1..+1 group user/Gabriele Cerami (gabrielecerami)
	label-Verified = -1..+1 group user/Ronelle Landy (rlandy)
	label-Verified = -1..+1 group user/Steve Linabery (eggmaster)
	label-Verified = -1..+1 group user/rdo-ci-hudson
	label-Verified = -1..+1 group user/rdo-ci-jenkins (rdo-ci-jenkins)
	label-Verified = -1..+1 group user/sthaha (sthaha)
	label-Verified = -1..+1 group user/wes hayutin (weshayutin)
	submit = group user/Brad P. Crochet (bcrochet)
	submit = group user/Gabriele Cerami (gabrielecerami)
	submit = group user/Jiří Stránský (jistr)
	submit = group user/Ronelle Landy (rlandy)
	submit = group user/Steve Linabery (eggmaster)
	submit = group user/sthaha (sthaha)
[access "refs/tags/*"]
	push = +force group user/Brad P. Crochet (bcrochet)
	pushTag = group user/Brad P. Crochet (bcrochet)
	pushTag = group user/wes hayutin (weshayutin)
	pushSignedTag = group user/Brad P. Crochet (bcrochet)
[receive]
	requireChangeId = true
[submit]
	mergeContent = false
	action = fast forward only
[notify "team"]
	email = brad@redhat.com
	email = gcerami@redhat.com
	email = rlandy@redhat.com
	email = slinaber@redhat.com
	email = sthaha@redhat.com
	email = whayutin@redhat.com
[access "refs/drafts/*"]
	push = group user/Brad P. Crochet (bcrochet)
	push = group user/Gabriele Cerami (gabrielecerami)
	push = group user/Jiří Stránský (jistr)
	push = group user/Ronelle Landy (rlandy)
	push = group user/Steve Linabery (eggmaster)
	push = group user/sthaha (sthaha)
	push = group user/wes hayutin (weshayutin)
[access "refs/heads/dev/*"]
	read = group user/Gabriele Cerami (gabrielecerami)
	push = group user/Gabriele Cerami (gabrielecerami)
	create = group user/Gabriele Cerami (gabrielecerami)
