<network>
  <name>default</name>
  <bridge name="virbr0" stp='on' delay='0'/>
  <forward mode='nat'>
    <nat>
      <port start='1024' end='65535'/>
    </nat>
  </forward>
  <domain name='example.com'/>
  <dns>
{% for key, host in nodes.iteritems() %}
    <host ip='{{ staypuft.default_ip_prefix }}.{{ host.ip_suffix }}'>
      <hostname>{{ host.name }}.example.com</hostname>
    </host>
{% endfor %}
  </dns>
  <ip address="{{ staypuft.default_ip_prefix }}.1" netmask="255.255.255.0">
    <tftp root='/var/lib/tftpboot/' />
    <dhcp>
      <range start="{{ staypuft.default_ip_prefix }}.210" end="{{ staypuft.default_ip_prefix }}.250" />
      <bootp file='pxelinux.0' />
{% for key, host in nodes.iteritems() %}
      <host mac="{{ host.mac }}" name="{{ host.name }}.example.com" ip="{{ staypuft.default_ip_prefix }}.{{ host.ip_suffix }}" />
{% endfor %}
    </dhcp>
  </ip>
</network>
